version: "3"

services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    restart: unless-stopped
    environment:
      - "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}"
      - "MYSQL_DATABASE=${MYSQL_DATABASE}"
      - "MYSQL_USER=${MYSQL_USER}"
      - "MYSQL_PASSWORD=${MYSQL_PASSWORD}"
    volumes:
      - ./database:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u${MYSQL_USER} -p${MYSQL_PASSWORD} --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  photoprism:
    image: photoprism/photoprism:latest
    container_name: photoprism
    depends_on:
      - mariadb
    restart: unless-stopped
    user: ${UID}:${GID}
    ports:
      - "${HTTP_PORT:-80}:2342"
    environment:
      - "PHOTOPRISM_ADMIN_PASSWORD=${PP_ADMIN_PASSWORD}"
      - "PHOTOPRISM_SITE_URL=${SITE_URL}"
      - "PHOTOPRISM_ORIGINALS_PATH=/photoprism/originals"
      - "PHOTOPRISM_IMPORT_PATH=/photoprism/import"
      - "PHOTOPRISM_DATABASE_DRIVER=mysql"
      - "PHOTOPRISM_DATABASE_SERVER=mariadb:3306"
      - "PHOTOPRISM_DATABASE_NAME=${MYSQL_DATABASE}"
      - "PHOTOPRISM_DATABASE_USER=${MYSQL_USER}"
      - "PHOTOPRISM_DATABASE_PASSWORD=${MYSQL_PASSWORD}"
      - "PHOTOPRISM_READONLY=false"
      - "PHOTOPRISM_WORKERS=2"
      - "PHOTOPRISM_PUBLIC=true"
      - "PHOTOPRISM_UPLOAD_NSFW=false"
      - "PHOTOPRISM_SITE_TITLE=Site Title"
      - "PHOTOPRISM_SITE_CAPTION=Site Caption"
      - "PHOTOPRISM_SITE_DESCRIPTION=Site Description"
    volumes:
      - ./files/storage:/photoprism/storage
      - ./files/originals:/photoprism/originals
      - ./files/import:/photoprism/import
    helthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:2342/"]
      interval: 15s
      timeout: 5s
      retries: 5
      start_period: 30s

    # add only if nvidia tools are installed
    # nvidia-smi
    # docker run --rm --gpus all nvidia/cuda:12.0-base nvidia-smi
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
